In [2]:
#Import datos 
import pandas as pd
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'

df = pd.read_excel(url)

num_rows, num_columns = df.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 6969
Number of columns: 23

In [3]:
data_type = df.dtypes

print(data_type)
print(df.head())
print(df.isnull().sum())
print(df.duplicated().sum())

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Unnamed: 11        object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object
          Date    Year        Type    Country              State  \
0  15 Mar 2024  2024.0  Unprovoked  AUSTRALIA         Queensland
1  04 Mar 2024  2024.0  Unprovoked        USA             Hawaii
2  02 Mar-2024  2024.0  Unprovoked        USA             Hawaii
3  25 Feb-2024  2024.0  Unprovoked  AUSTRALIA  Western Australia
4  14 Feb-2024  2024.0  Unprovoked      INDIA        Maharashtra

                           Location  Activity                 Name Sex  Age  \
0                     Bargara Beach  Swimming       Brooklyn Sauer   F   13
1                Old Man's, Waikiki   Surfing        Matthew White   M  NaN
2                    Rainbows, Oahu  Swimming                  NaN   F   11
3        Sandlnd Island, Jurian Bay       NaN               female   F   46
4  Vaitarna River, Palghar District   Fishing  Vicky Suresh Govari   M   32

   ...        Species                      Source  pdf href formula href  \
0  ...     Tiger shark      Yahoo News, 3/15/2024  NaN          NaN  NaN
1  ...  Tiger shark 8'          Surfer, 3/6/2024F  NaN          NaN  NaN
2  ...  3' to 4' shark  Hawaii News Now, 3/4/2024  NaN          NaN  NaN
3  ...     Tiger shark        WA Today, 2/26/2024  NaN          NaN  NaN
4  ...  Bull shark, 7'  Times of India, 2/14/2024  NaN          NaN  NaN

  Case Number Case Number.1 original order Unnamed: 21 Unnamed: 22
0         NaN           NaN            NaN         NaN         NaN
1         NaN           NaN            NaN         NaN         NaN
2         NaN           NaN            NaN         NaN         NaN
3         NaN           NaN            NaN         NaN         NaN
4         NaN           NaN            NaN         NaN         NaN

[5 rows x 23 columns]
Date                25
Year                27
Type                43
Country             75
State              507
Location           590
Activity           611
Name               245
Sex                604
Age               3019
Injury              60
Unnamed: 11        587
Time              3551
Species           3157
Source              44
pdf                170
href formula       150
href               173
Case Number        171
Case Number.1      172
original order     170
Unnamed: 21       6968
Unnamed: 22       6967
dtype: int64
24

In [4]:
def remove_prefix(date):
    # Make sure date is a string
    if isinstance(date, str) and date.startswith("Reported "):
        # If the date starts with "Reported", we return what comes after that
        return date[len("Reported "):]
    # Return the original value if its not a string or doesn't start with the prefix
    return date

In [5]:
def fix_format_date(date):
    # Make sure date is a string before trying to convert it
    if isinstance(date, str):
        try:
            # Convert the value to datetime format with the format dd-mmm-yyyy
            correct_date_format = pd.to_datetime(date, format='%d-%b-%Y', errors='raise')
            # Return the date in dd-mm-yyyy format
            return correct_date_format.strftime('%d-%m-%Y')
        except ValueError:
            return None
    # If date is not a string we return None
    return None

In [6]:
df['Date'] = df['Date'].apply(remove_prefix)
df['Date'] = df['Date'].apply(fix_format_date)
df['Date'].sample(50)

3476    03-03-1985
4201    11-06-1966
3683    23-07-1980
2224    26-02-2005
1838    30-07-2008
3922    27-08-1973
3304    12-04-1989
4891    05-01-1956
242     07-08-2021
5006    01-07-1953
1716          None
1397    14-06-2012
3184    08-01-1992
1765    02-03-2009
1835    12-08-2008
6425          None
5150    13-01-1949
5259          None
2514    18-09-2001
4041          None
1293    28-04-2013
4754    28-12-1958
4418    22-09-1962
3128    02-01-1993
4293    22-08-1964
2744    18-03-1999
4989    22-12-1953
3428          None
1109    02-10-2014
6357    23-10-1888
6183    27-12-1900
3853    18-04-1975
3102    30-07-1993
2             None
2541    05-08-2001
2840    08-09-1997
2135    29-11-2005
5333    12-09-1942
3326    22-10-1988
551     11-11-2018
3593    24-07-1982
4284    05-11-1964
890     21-05-2016
6850          None
2573    12-04-2001
4945    09-12-1954
3628    16-10-1981
3052    24-05-1994
4397    11-01-1963
6364    18-06-1888
Name: Date, dtype: object

In [8]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')