In [1]:
#Import datos 
import pandas as pd
url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'

df = pd.read_excel(url)

num_rows, num_columns = df.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 6969
Number of columns: 23

In [2]:
data_type = df.dtypes

print(data_type)
print(df.head())
print(df.isnull().sum())
print(df.duplicated().sum())

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Unnamed: 11        object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object
          Date    Year        Type    Country              State  \
0  15 Mar 2024  2024.0  Unprovoked  AUSTRALIA         Queensland
1  04 Mar 2024  2024.0  Unprovoked        USA             Hawaii
2  02 Mar-2024  2024.0  Unprovoked        USA             Hawaii
3  25 Feb-2024  2024.0  Unprovoked  AUSTRALIA  Western Australia
4  14 Feb-2024  2024.0  Unprovoked      INDIA        Maharashtra

                           Location  Activity                 Name Sex  Age  \
0                     Bargara Beach  Swimming       Brooklyn Sauer   F   13
1                Old Man's, Waikiki   Surfing        Matthew White   M  NaN
2                    Rainbows, Oahu  Swimming                  NaN   F   11
3        Sandlnd Island, Jurian Bay       NaN               female   F   46
4  Vaitarna River, Palghar District   Fishing  Vicky Suresh Govari   M   32

   ...        Species                      Source  pdf href formula href  \
0  ...     Tiger shark      Yahoo News, 3/15/2024  NaN          NaN  NaN
1  ...  Tiger shark 8'          Surfer, 3/6/2024F  NaN          NaN  NaN
2  ...  3' to 4' shark  Hawaii News Now, 3/4/2024  NaN          NaN  NaN
3  ...     Tiger shark        WA Today, 2/26/2024  NaN          NaN  NaN
4  ...  Bull shark, 7'  Times of India, 2/14/2024  NaN          NaN  NaN

  Case Number Case Number.1 original order Unnamed: 21 Unnamed: 22
0         NaN           NaN            NaN         NaN         NaN
1         NaN           NaN            NaN         NaN         NaN
2         NaN           NaN            NaN         NaN         NaN
3         NaN           NaN            NaN         NaN         NaN
4         NaN           NaN            NaN         NaN         NaN

[5 rows x 23 columns]
Date                25
Year                27
Type                43
Country             75
State              507
Location           590
Activity           611
Name               245
Sex                604
Age               3019
Injury              60
Unnamed: 11        587
Time              3551
Species           3157
Source              44
pdf                170
href formula       150
href               173
Case Number        171
Case Number.1      172
original order     170
Unnamed: 21       6968
Unnamed: 22       6967
dtype: int64
24

In [3]:
def remove_prefix(date):
    # Make sure date is a string
    if isinstance(date, str) and date.startswith("Reported "):
        # If the date starts with "Reported", we return what comes after that
        return date[len("Reported "):]
    # Return the original value if its not a string or doesn't start with the prefix
    return date

In [4]:
def fix_format_date(date):
    # Make sure date is a string before trying to convert it
    if isinstance(date, str):
        try:
            # Convert the value to datetime format with the format dd-mmm-yyyy
            correct_date_format = pd.to_datetime(date, format='%d-%b-%Y', errors='raise')
            # Return the date in dd-mm-yyyy format
            return correct_date_format.strftime('%d-%m-%Y')
        except ValueError:
            return None
    # If date is not a string we return None
    return None

In [5]:
df['Date'] = df['Date'].apply(remove_prefix)
df['Date'] = df['Date'].apply(fix_format_date)
df['Date'].sample(50)

1183    03-04-2014
4309    23-06-1964
5043    06-04-1952
6459          None
2601    03-12-2000
1             None
1704    13-09-2009
6512          None
3625    09-11-1981
4267    10-01-1965
5376    09-03-1941
1504    31-07-2011
6103    05-09-1906
821     12-10-2016
1161    07-06-2014
5437    27-12-1938
6532    03-04-1872
3296    07-07-1989
507     14-05-2019
1841    26-07-2008
2966    26-08-1995
710     26-08-2017
4017    15-06-1970
5165          None
2658    02-07-2000
1193    02-03-2014
3078    28-11-1993
3276    14-10-1989
580     01-09-2018
6176    23-09-1901
3499    22-09-1984
4116          None
5501    11-08-1936
3361    10-04-1988
3470    21-07-1985
1040    09-05-2015
6791          None
2929          None
6281    28-11-1894
3619          None
3015    02-01-1995
2623    16-09-2000
2605    17-11-2000
567     29-09-2018
5110    01-03-1950
1714    06-08-2009
3651    16-05-1981
2693          None
5469    12-09-1937
3782    29-12-1976
Name: Date, dtype: object